$primary: #85FFC7;
$secondary: #297373;
$gray: #e6e6e6;
$dark-gray: #39393A;
$black: #0b0c10;

$red: #e60012;
$green: #02df3e;
$orange: #FF8552;

$font-dark: #1f2833;
$font-light: #e6e6e6;

$font-main: 'Ubuntu', sans-serif;
$font-secondary: 'Source Code Pro', monospace;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-heavy: 700;

$font-size-xtra-small: 0.6rem;
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;
$font-size-xtra-large: 2rem;
$font-size-mega: 3rem;

$animation-duration: 0.4s;
